<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1>Welcome to BEX</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Orginize Exprerts :)
			</p>
		</div>
		<div class="row" ng-if="!authentication.user">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signin">Sign in</a>
			</p>
		</div>
	</div>
	<!--div>
		<h2>Future text</h2>
		<p>future p</p>
		<ul>
			<li>
				future list
			</li>
		</ul>
	</div-->
</section>